@charset "utf-8";

/* ============================================================
    파일정의 : common.css
============================================================ */

:root {
    /* color */
    --main-color: rgb(255 114 0);
    --sub-color-01: rgb(250 239 230);
    --sub-color-02: rgb(231 231 231);
    --font-color: rgb(59 59 59);
 
    /* font size */
    --font-s: 12px;
    --font-common: 14px;
}

/* inner */
.inner {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
@media screen and (max-width: 768px) {
    .inner {
        width: 100%;
    }
}

/* 정렬 */
.agn_l {text-align: left !important;}
.agn_c {text-align: center !important;}
.agn_r {text-align: right !important;}

/* pc/mobile */
.mo_hidden {display: block !important;}
.pc_hidden {display: none !important;}
@media screen and (max-width: 768px) {
    .mo_hidden {display: none !important;}
    .pc_hidden {display: block !important;}
}

/* 버튼 */
.box_btn {
    display: flex;
}
.box_btn * {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
}
.box_btn *.btn_orange {
    background-color: var(--main-color)
}
.box_btn *.btn_black {
    background-color: var(--font-color);
}
.box_btn *.btn_gray {
    background-color: rgb(204 204 204);
}

input::placeholder,
textarea::placeholder {
    color: rgb(204 204 204);
}
select:hover,
select:focus,
input:hover,
input:focus,
textarea:hover,
textarea:focus {
    outline: none;
    border: 1px solid var(--font-color);   
    box-sizing: border-box;
}

/* 라디오박스 */
.box_radio_group {
    display: flex;
    align-items: center;
}
.box_radio_group .box_radio + .box_radio {
    margin-left: 20px;
}
.box_radio input {
    position: absolute;
    left: -9999rem;
}
.box_radio label {
    position: relative;
    padding-left: 30px;
    font-size: var(--font-common);
    color: rgb(153 153 153);
}
.box_radio label::before {
    content: "";
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid rgb(204 204 204);
}
.box_radio label::after {
    content: "";
    display: flex;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgb(204 204 204);
}
.box_radio input[type="radio"]:checked + label {
    color: var(--main-color);
}
.box_radio input[type="radio"]:checked + label::after {
    background-color: var(--main-color);
}

/* 체크박스 */
.box_chk_group {
    display: flex;
    align-items: center;
}
.box_chk_group.solo {
    justify-content: center;
    height: 22px;
    position: relative;
}
.box_chk_group.solo .box_chk {
    height: 22px;
}
.box_chk_group .box_chk + .box_chk {
    margin-left: 20px;
}
.box_chk input {
    position: absolute;
    left: -9999rem;
}
.box_chk label {
    display: flex;
    position: relative;
    font-size: var(--font-common);
    padding-left: 30px;
}
.box_chk label::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 22px;
    height: 22px;
    border: 1px solid rgb(204 204 204);
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 50%;
}
.box_chk label::after {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    left: 5px;
    width: 11px;
    height: 6px;
    border: 2px solid rgb(204 204 204);
    border-width: 0 0 3px 3px;
    transform: rotate(-45deg);
}
.box_chk input:checked + label::before {
    background-color: var(--main-color);
    border-color: var(--main-color);
}
.box_chk input:checked + label::after {
    border-color: #fff;
}
.box_chk_group.solo .box_chk label::before {
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}
.box_chk_group.solo .box_chk label::after {
    top: -1px;
    left: 50%;
    transform: rotate(-45deg) translateX(-70%);
}

/* 인풋박스 */
.box_input {
    display: flex;
    width: 100%;
}
.box_input input {
    display: flex;
    width: 100%;
    border: 1px solid rgb(238 238 238);
    border-radius: 4px;
    padding: 11px 17px;
    box-sizing: border-box;
    font-size: var(--font-common);
}
.box_input input:hover,
.box_input input:focus {
    border-color: var(--font-color);
}

/* 텍스트박스 */
.box_textarea {
    display: flex;
    width: 100%;
}
.box_textarea textarea {
    display: flex;
    width: 100%;
    border: 1px solid rgb(238 238 238);
    border-radius: 4px;
    padding: 13px 17px;
    box-sizing: border-box;
    resize: none;
    font-size: var(--font-common);
}
.box_textarea textarea:hover,
.box_textarea textarea:focus {
    border-color: var(--font-color);
}

/* 셀렉트박스 */
select::-ms-expand { 
	display: none;
}

.box_select select {
    -o-appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    border: 1px solid rgb(238 238 238);
    padding: 13px 17px;
    padding-right: 38px;
    background: url(../images/ico/ico_select_down.png) no-repeat calc(100% - 20px) center;
    background-size: 10px;
    border-radius: 4px;
    font-size: var(--font-common);
    font-weight: 300;
    color:rgb(204 204 204);
}
.box_select select:hover,
.box_select select:focus {
    border-color: var(--font-color);
}

/* 텍스트필드 */
.box_textfield {
    display: flex;
    position: relative;
    box-sizing: border-box;
}
.box_textfield label {
    display: block;
    position: absolute;
    top: 10px;
    left: 17px;
    width: calc(100% - 30px);
    font-size: 12px;
    cursor: default;
}
.box_textfield input {
    display: block;
    width: 100%;
    padding: 32px 17px 10px 17px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid rgb(238 238 238);
}

.box_textfield input:hover,
.box_textfield input:focus {
    border-color: var(--font-color);
}
.box_textfield.error input {
    border-color: rgb(255 0 0);
}

.box_input_group.tel {
    display: flex;
    position: relative;
    padding: 32px 17px 10px 17px;
    box-sizing: border-box;
    border-radius: 4px;
    border: 1px solid rgb(238 238 238);
    gap: 5px;
}
.box_input_group.tel:hover {
    border-color: var(--font-color);
}
.box_input_group.tel label {
    position: absolute;
    top: 10px;
    left: 17px;
    width: 100%;
    font-size: 12px;
    cursor: default;
}
.box_input_group.tel .box_select {
    flex: 1;
    height: 30px;
}
.box_input_group.tel .box_select select {
    padding: 3px 10px;
    height: 100%;
    background-position: calc(100% - 10px) center;
    background-color: rgb(238 238 238);
}
.box_input_group.tel .box_input {
    flex: 1;
    height: 30px;
}
.box_input_group.tel .box_input input {
    border: 1px solid transparent;
    padding: 3px 10px;
    box-sizing: border-box;
}
.box_input_group.tel .box_input input:hover,
.box_input_group.tel .box_input input:focus {
    border-color: var(--font-color);
}
.box_input_group.tel .box_input:nth-child(3)::after {
    content: "-";
    margin-left: 5px;
}

/* 제목 */
.box_tit {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}
.box_tit.center {
    align-items: center;
    padding-bottom: 60px;
}
.box_tit.left {
    align-items: flex-start;
}
.box_tit h2 {
    font-size: 24px;
    font-weight: 600;
}
.box_tit h2 span {
    color: var(--main-color);
}
.box_tit h3 {
    font-size: 18px;
    font-weight: 600;
}
.box_tit + .box_tit h3 {
    margin-top: 27px;
}

/* 페이징 */
.box_paging ul {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin: 30px 0;
}
.box_paging ul li {
    display: flex;
    align-items: center;
}
.box_paging ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: 1px solid rgb(204 204 204);
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: 300;
    font-size: var(--font-s);
    color: #cacacf;
    transition: color .3s;
}
.box_paging ul li.on a,
.box_paging ul li:hover a {
    border-color: var(--main-color);
    font-weight: 500;
    color: #000;
}
.box_paging ul li.prev a,
.box_paging ul li.prev_all a,
.box_paging ul li.next a,
.box_paging ul li.next_all a {
    position: relative;
    width: 15px;
    height: 20px;
    border: none;
    padding: 0;
    text-indent: -9999rem;
    background: no-repeat center;
    background-size: auto 100%;
}
.box_paging ul li.prev a {
    background-image: url(../images/ico/ico_prev.png);
}
.box_paging ul li.prev_all a {
    background-image: url(../images/ico/ico_prev_all.png);
}
.box_paging ul li.next a {
    background-image: url(../images/ico/ico_next.png);
}
.box_paging ul li.next_all a {
    background-image: url(../images/ico/ico_next_all.png);
}

/* 리스트 */
.box_txtlist {
    display: flex;
    padding: 28px 18px;
    background-color: rgb(238 238 238);
    border-radius: 4px;
    font-size: var(--font-common);
    color: var(--font-color);
}

/* 서치박스 */
.box_search ul {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.box_search ul li {
    display: flex;
    gap: 15px;
}
.box_search ul li > * {
    flex: 1;
}