@charset "utf-8";

/* ============================================================
    파일정의 : reset.css
============================================================ */

html, body {
    height: 100%;
}
body {
    font-size: 16px;
    font-family: 'NotoSansKR', Arial, Sans-serif;
    font-weight: 400;
    color: var(--font-color);
}
table, th, td, input, select, button, textarea, pre {
    font: inherit;
    color: inherit;
}
body, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, select, button, textarea, p, blockquote, table, th, td {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
}
ol, ul {
    list-style: none;
}
img, fieldset {
    border: 0;
}
img {
    vertical-align: middle;
}
a {
    font-weight: 400;
    text-decoration: none;
    color: var(--font-color);
}
table {
    border-spacing: 0;
    border-collapse: inherit;
    border: 0;
}
label {
    cursor: pointer;
}
input, button {
    border: 0;
    border-radius: 0;
}
textarea {
    resize: none;
}
input, button, select, textarea {
    vertical-align: middle;
}
address, caption, cite, code, dfn, em, var {
    font-style: normal;
}
hr {
    clear: both;
    display: none;
}
blockquote, q {
    quotes: none;
}
abbr, acronym {
    border: 0;
}
legend, caption {
    position: absolute;
    line-height: 0;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    text-indent: -99999px;
    font-size: 0;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, main {
    display: block;
}

@font-face {
    font-family: "NotoSansKR";
    src: url("../font/NotoSans-Thin.woff");
    font-weight: 100;
    font-style: normal;
}
@font-face {
    font-family: "NotoSansKR";
    src: url("../font/NotoSans-Light.woff");
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: "NotoSansKR";
    src: url("../font/NotoSans-DemiLight.woff");
    font-weight: 300;
    font-style: normal;
}
@font-face {
    font-family: "NotoSansKR";
    src: url("../font/NotoSans-Regular.woff");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "NotoSansKR";
    src: url("../font/NotoSans-Medium.woff");
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "NotoSansKR";
    src: url("../font/NotoSans-Bold.woff");
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "NotoSansKR";
    src: url("../font/NotoSans-Black.woff");
    font-weight: 700;
    font-style: normal;
}

.hidden {
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    height: 0;
    line-height: 0;
    width: 0;
    margin: 0;
    padding: 0;
    font: 0/0 Arial;
}


@media screen and (max-width: 768px) {
    
}