@charset "utf-8";

@import './reset.css';
@import './common.css';

/* ============================================================
    파일정의 : style.css
============================================================ */


/* 로고 */
.logo a {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    box-sizing: border-box;
    background: url(../images/logo.png) no-repeat left center;
    background-size: auto 35px;
    color: var(--font-color);
}
.logo a span {
    display: block;
    font-size: 10px;
}
.logo a strong {
    display: flex;
    font-size: 13px;
    font-weight: 600;
}
.logo a strong span {
    margin-left: 3px;
    font-size: 13px;
    font-weight: 600;
    color: var(--main-color);
}

/* 전체메뉴 */
.box_allmenu {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    padding-top: 40px;
    background-color: rgba(0, 0, 0, .6);
    box-sizing: border-box;
}
.box_allmenu::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 90%;
    height: 40px;
    background-color: #fff;
    z-index: -1;
}
.box_allmenu .box_allmenu_cont {
    display: block;
    width: 50%;
    height: 100%;
    background-color: #fff;
    padding: 10px 70px;
    box-sizing: border-box;
    overflow-y: auto;
}
.box_allmenu .box_allmenu_cont .box_allmenu_btn a {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 25px;
    height: 25px;
}
.box_allmenu .box_allmenu_cont .box_allmenu_btn a span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    border-radius: 2px;
}
.box_allmenu .box_allmenu_cont .box_allmenu_btn a span:nth-child(1) {
    transform: rotate(45deg) translate(8px, 8px);
}
.box_allmenu .box_allmenu_cont .box_allmenu_btn a span:nth-child(2) {
    transform: rotate(-45deg) translate(-6px, 7px);
}
.box_allmenu .box_allmenu_info {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: auto;
    padding: 0;
}
.box_allmenu .box_allmenu_info .box_util {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}
.box_allmenu .box_allmenu_info .box_util {
    display: flex;
    flex-wrap: wrap;
    padding: 60px 10px 25px;
    width: 100%;
}
.box_allmenu nav > .box_util {
    margin: 0;
}
.box_allmenu nav > .box_util > li.on {
    border-bottom: none;
}
.box_allmenu nav > .box_util > li:first-child {
    border-top: none;
}
.box_allmenu nav > .box_util > li > ul {
    margin: 0 -20px;
}
.box_allmenu .box_allmenu_info .box_util li * {
    display: flex;
    align-items: center;
    font-size: 14px;
}
.box_allmenu .box_allmenu_info .box_util li + li {
    margin-left: 30px;
}
.box_allmenu .box_allmenu_info .box_util li.btn_login a {
    display: block;
    padding-left: 22px;
    background: url(../images/ico/ico_login_mo.png) no-repeat left center;
    background-size: 14px;
}
.box_allmenu .box_allmenu_info .box_util .util_content {
    display: flex;
    align-items: center;
}
.box_allmenu .box_allmenu_info .box_util .util_result {
    display: flex;
    margin-left: 10px;
    align-items: center;
}
.box_allmenu .box_allmenu_info .box_util .util_result li strong {
    display: flex;
    font-weight: 600;
}
.box_allmenu .box_allmenu_info .box_util .util_result li.btn_logout a {
    display: flex;
    padding: 5px 10px;
    background-color: #eee;
    font-size: 13px;
    border-radius: 3px;
}
.box_allmenu nav {
    width: 100%;
    margin: 0 auto;
}
.box_allmenu nav > ul {
    margin: 0 -20px;
}
.box_allmenu nav > ul > li {
    position: relative; 
    border-bottom: 1px solid #eee;
}
.box_allmenu nav > ul > li > a::after {
    content: "";
    display: block;
    position: absolute;
    top: 29px;
    right: 20px;
    width: 10px;
    height: 6px;
    background: url(../images/ico/ico_arrow_select.png) no-repeat center;
    background-size: 100% 100%;
    transition: .2s;
}
.box_allmenu nav > ul > li.on > a::after {
    transform: rotate(180deg);
}
.box_allmenu nav > ul > li:first-child {
    border-top: 1px solid #eee;
}
.box_allmenu nav > ul > li > a {
    display: block;
    padding: 20px 20px;
    font-weight: 600;
}
.box_allmenu nav > ul > li > ul {
    display: none;
}
.box_allmenu nav > ul > li > ul > li > a {
    display: block;
    padding: 20px 40px;
    margin: 0;
    background-color: #eee;
    box-sizing: border-box;
    border-bottom: 1px solid #fff;
}
.box_allmenu nav > ul > li > ul > li:last-child > a {
    border-bottom: none;
}
.box_allmenu nav > ul > li > ul > li:hover > a {
    color: var(--main-color);
}
.box_allmenu .box_allmenu_cont {
    width: 90%;
    padding: 0 20px;
}
.box_allmenu .box_allmenu_info .box_util .util_result li.btn_logout a {
    font-size: var(--font-common);
}

/* header */
header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
}
header::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: rgba(255, 255, 255, .6);
    backdrop-filter: blur(10px);
    z-index: -1;
}
header .inner {
    display: flex;
    justify-content: center;
    height: 50px;
}
.box_prev a {
    display: flex;
    position: absolute;
    top: 50%;
    left: 20px;
    flex-direction: column;
    justify-content: center;
    width: 16px;
    height: 16px;
    transform: translateY(-50%);
}
.box_prev a span {
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: var(--font-color);
}
.box_prev a span:nth-child(1),
.box_prev a span:nth-child(3) {
    width: 55%;
}
.box_prev a span:nth-child(1) {
    transform: rotate(-45deg) translate(1px, -1px);
}
.box_prev a span:nth-child(3) {
    transform: rotate(45deg) translate(1px, 1px);
}
header .logo {
    display: flex;
    align-items: center;
}
.btn_allmenu a {
    display: flex;
    position: absolute;
    top: 50%;
    right: 20px;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 16px;
    height: 16px;
    transform: translateY(-50%);
}
.btn_allmenu a strong {
    position: absolute;
    left: -9999px;
}
.btn_allmenu a span {
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: var(--font-color);
}
.btn_allmenu a span:nth-child(3) {
    width: 70%;
}

/* main */
.main {
    position: relative;
    min-height: calc(100vh - 105px);
}
.main > .inner {
    padding: 0 20px;
    box-sizing: border-box;
}

/* footer */
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    font-size: 10px;
    color: rgb(153 153 153);
}

/* 로그인 */
.box_login .box_textfield + .box_textfield {
    margin-top: 10px;
}
.box_login .box_textfield + .box_btn {
    margin-top: 20px;
}
.box_login .info {
    display: flex;
    margin-top: 22px;
}
.box_login .info li {
    position: relative;
    width: 50%;
    text-align: center;
}
.box_login .info li a {
    font-size: var(--font-common);
    color: rgb(153 153 153);
}
.box_login .info li:nth-child(1)::after {
    content: "";
    display: block;
    position: absolute;
    top: 5px;
    right: 0;
    width: 1px;
    height: 15px;
    background-color: rgb(153 153 153);
}
.box_changepage {
    margin-top: 60px;
}
.box_changepage a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 106px;
    border-radius: 4px;
    background: url(../images/content/content_main_woman.png) no-repeat calc(100% - 30px) calc(100% + 57px);
    background-size: 130px auto;
    background-color: rgb(250 239 230);
    padding: 0 30px;
    box-sizing: border-box;
}
.box_changepage a span {
    letter-spacing: -0.5px;
    font-size: 16px;
    font-weight: 500;
}
.box_changepage a strong {
    letter-spacing: -0.5px;
    font-size: 16px;
    font-weight: 500;
    color: var(--main-color);
}
.box_changepage a em {
    margin-top: 10px;
    text-decoration: underline;
    font-size: 14px;
}
.box_changepage + .box_txtlist {
    margin-top: 20px;
}

/* 메인 */
.main_view .main {
    background-color: rgb(78 77 87);
}
.main_content .box_section {
    display: flex;
    position: relative;
    padding: 50px 20px 0 20px;
    margin-top: -50px;
    box-sizing: border-box;
    border-radius: 0 0 20px 20px;
}
.main_content .box_section.sec_main {
    position: relative;
    justify-content: flex-end;
    text-align: right;
    padding-top: 70px;
    background: var(--main-color) url(../images/content/teac_8_01_02.png) center;
    color: #fff;
    z-index: 4;
}
.main_content .box_section.sec_main::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: url(../images/content/content_main_man.png) no-repeat -17px calc(100% + 9px);
    z-index: -1;
}
.main_content .box_section.sec_main h2 span {
    display: block;
    font-size: 14px;
    font-weight: 300;
}
.main_content .box_section.sec_main h2 strong {
    display: block;
    padding: 20px 0 40px;
    line-height: 50px;
    font-size: 39px;
    font-weight: 600;
}
.main_content .box_section.sec_shortcut:nth-child(2) {
    background-color: var(--sub-color-01);
    z-index: 3;
}
.main_content .box_section.sec_shortcut {
    padding: 70px 20px 33px;
    box-sizing: border-box;
}
.main_content .box_section.sec_shortcut h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--font-color);
}
.main_content .box_section.sec_shortcut h3 span {
    color: var(--main-color);
}
.main_content .box_section.sec_shortcut .inner {
    display: flex;
    justify-content: space-between;
}
.main_content .box_section.sec_shortcut ul {
    display: flex;
    justify-content: flex-end;
    width: calc(100% - 70px);
    gap: 14px;
    padding-top: 14px;
    box-sizing: border-box;
}
.main_content .box_section.sec_shortcut ul li {
    width: 50%;
    max-width: 124px
}
.main_content .box_section.sec_shortcut ul li a {
    display: flex;
    position: relative;
    align-items: flex-end;
    width: 100%;
    height: 112px;
    border-radius: 20px;
    background-color: var(--font-color);
    padding: 9px 14px;
    box-sizing: border-box;
}
.main_content .box_section.sec_shortcut ul li a span {
    line-height: 20px;
    letter-spacing: -.5px;
    font-weight: 600;
    color: #fff;
}
.main_content .box_section.sec_shortcut ul li a::after {
    content: "";
    display: block;
    position: absolute;
    top: -14px;
    right: 10px;
    width: 55px;
    height: 69px;
}
.main_content .box_section.sec_shortcut ul li:nth-child(1) a::after,
.main_content .box_section.sec_shortcut ul li:nth-child(3) a::after {
    background: url(../images/content/teac_8_02_02.png) no-repeat center;
}
.main_content .box_section.sec_shortcut ul li:nth-child(2) a::after,
.main_content .box_section.sec_shortcut ul li:nth-child(4) a::after {
    background: url(../images/content/teac_8_03_02.png) no-repeat center;
}
.main_content .box_section.sec_shortcut ul li:nth-child(2) a {
    background-color: var(--main-color);
}
.main_content .box_section.sec_shortcut:nth-child(3) ul li:nth-child(1) a {
    background-color: rgb(153 153 153);
}
.main_content .box_section.sec_shortcut:nth-child(3) ul li:nth-child(2) a {
    background-color: rgb(255 70 0);
}
.main_content .box_section.sec_shortcut:nth-child(3) {
    background-color: #fff;
    z-index: 2;
}
.main_content .box_section.sec_notice {
    padding: 70px 20px 20px;
    background-color: rgb(238 238 238);
    z-index: 1;
}
.main_content .box_section.sec_notice h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    box-sizing: border-box;
    font-size: 20px;
    font-weight: 600;
    color: var(--font-color);
}
.main_content .box_section.sec_notice h3 a {
    font-size: 12px;
    font-weight: 500;
    text-decoration: underline;
    color: var(--main-color);
}
.main_content .box_section.sec_notice ul {
    width: calc(100% + 40px);
    margin: 0 -20px;
}
.main_content .box_section.sec_notice ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 20px;
    border-bottom: 1px solid #fff;
}
.main_content .box_section.sec_notice ul li span {
    font-size: 12px;
    color: rgb(204 204 204);
}
.main_content .box_section.sec_notice ul li a {
    width: calc(100% - 70px);
    font-size: 14px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
}
.box_familysite ul {
    display: flex;
    justify-content: space-around;
    padding: 20px 0 0;
}

.main_view footer {
    background-color: rgb(78 77 87);
    color: rgb(153 153 153);
}

/* 아이디찾기 */
.box_content.type_01 .box_txtlist {
    margin-bottom: 20px;
}
.box_content.type_01 .box_textfield,
.box_content.type_01 .box_input_group {
    margin-bottom: 10px;
}
.box_content.type_01 .box_btn {
    margin-top: 20px;
}
.box_txtlist .box_idresult {
    line-height: 20px;
    font-size: 14px;
}
.box_txtlist .box_idresult span {
    display: block;
    margin: 10px 0;
    font-size: 18px;
    font-weight: 600;
    color: var(--main-color);
}

/* 비밀번호 재설정 */
.box_btn.certification_Number {
    justify-content: flex-end;
    margin-top: 5px !important;
    margin-bottom: 20px;
}
.box_btn.certification_Number * {
    flex: none;
    width: auto;
    height: auto;
    padding: 7px 20px;
    border: 1px solid rgb(204 204 204);
    letter-spacing: -0.3px;
    font-weight: 500;
    font-size: 12px;
    color: var(--main-color);
}

/* 일지작성 버튼 */
.btn_daily_report {
    position: fixed;
    bottom: 20px;
    right: 20px;
}
.btn_daily_report a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: var(--main-color);
    line-height: 17px;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}

/* 출석정보입력 */
.box_attendance {
    display: flex;
    flex-direction: column;
    padding: 28px 18px;
    margin: 13px 0 20px;
    background-color: rgb(238 238 238);
    border-radius: 4px;
    font-size: var(--font-common);
    color: var(--font-color);
}
.box_attendance span:nth-child(1) {
    font-weight: 500;
    color: rgb(153 153 153);
}
.box_attendance .tit {
    margin-top: 5px;
    font-size: 18px;
    font-weight: 500;
    color: var(--font-color);
}

/* 공지사항 */
.attachments a {
    display: inline-block;
    padding-left: 30px;
    background: url(../images/ico/ico_folder.png) no-repeat left center;
    background-size: auto 18px;
    font-size: var(--font-common);
}
.attachments a span {
    padding-left: 5px;
}
.box_detail {
    margin-bottom: 40px;
}
.box_detail dl dt {
    padding: 0 0 20px 0;
    border-bottom: 1px solid rgb(232 232 232);
    font-size: 18px;
    font-weight: 600;
}
.box_detail dl dt span {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;
    font-weight: 400;
    color: var(--main-color);
}
.box_detail dl .info {
    display: flex;
    gap: 10px;
    padding: 18px 0;
    border-bottom: 1px solid rgb(232 232 232);
}
.box_detail dl .info span {
    font-size: 12px;
    color: rgb(153 153 153);
}
.box_detail dl .info span:nth-child(1) {
    width: calc(100% - 125px);
}
.box_detail dl .content {
    padding: 20px 0;
    box-sizing: border-box;
}
.box_detail dl .content img {
    width: 100%;
}
.box_detail dl:last-child {
    padding: 20px 0;
    border-bottom: 1px solid rgb(153 153 153);
}
.box_detail + .box_btn {
    margin-bottom: 40px;
}

/* 데이타없음 화면 */
.box_data_none {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box_data_none span {
    display: block;
    margin-top: 35px;
    font-size: 14px;
    color: rgb(153 153 153);
}
.box_data_none::before {
    content: "";
    display: block;
    width: 100%;
    height: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto 100%;
}
.box_data_none.type_01::before {
    background-image: url(../images/content/img_none_01.png);
}
.box_data_none.type_02::before {
    background-image: url(../images/content/img_none_02.png);
}