@charset "utf-8";

@import './reset.css';
@import './common.css';

/* ============================================================
    파일정의 : style.css
============================================================ */


/* 로고 */
.logo a {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    box-sizing: border-box;
    background: url(../images/logo.png) no-repeat left center;
    background-size: auto 35px;
    color: var(--font-color);
}
.logo a span {
    display: block;
    font-size: 10px;
}
.logo a strong {
    display: flex;
    font-size: 13px;
    font-weight: 600;
}
.logo a strong span {
    margin-left: 3px;
    font-size: 13px;
    font-weight: 600;
    color: var(--main-color);
}

/* 전체메뉴 */
.box_allmenu {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100vh;
    padding-top: 40px;
    background-color: rgba(0, 0, 0, .6);
    box-sizing: border-box;
}
.box_allmenu::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 90%;
    height: 40px;
    background-color: #fff;
    z-index: -1;
}
.box_allmenu .box_allmenu_cont {
    display: block;
    width: 50%;
    height: 100%;
    background-color: #fff;
    padding: 10px 70px;
    box-sizing: border-box;
    overflow-y: auto;
}
.box_allmenu .box_allmenu_cont .box_allmenu_btn a {
    display: block;
    position: absolute;
    top: 15px;
    right: 15px;
    width: 25px;
    height: 25px;
}
.box_allmenu .box_allmenu_cont .box_allmenu_btn a span {
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
    border-radius: 2px;
}
.box_allmenu .box_allmenu_cont .box_allmenu_btn a span:nth-child(1) {
    transform: rotate(45deg) translate(8px, 8px);
}
.box_allmenu .box_allmenu_cont .box_allmenu_btn a span:nth-child(2) {
    transform: rotate(-45deg) translate(-6px, 7px);
}
.box_allmenu .box_allmenu_info {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    height: auto;
    padding: 0;
}
.box_allmenu .box_allmenu_info .box_util {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px;
}
.box_allmenu .box_allmenu_info .box_util {
    display: flex;
    flex-wrap: wrap;
    padding: 60px 10px 25px;
    width: 100%;
}
.box_allmenu nav > .box_util {
    margin: 0;
}
.box_allmenu nav > .box_util > li.on {
    border-bottom: none;
}
.box_allmenu nav > .box_util > li:first-child {
    border-top: none;
}
.box_allmenu nav > .box_util > li > ul {
    margin: 0 -20px;
}
.box_allmenu .box_allmenu_info .box_util li * {
    display: flex;
    align-items: center;
    font-size: 14px;
}
.box_allmenu .box_allmenu_info .box_util li + li {
    margin-left: 30px;
}
.box_allmenu .box_allmenu_info .box_util li.btn_login a {
    display: block;
    padding-left: 22px;
    background: url(../images/ico/ico_login_mo.png) no-repeat left center;
    background-size: 14px;
}
.box_allmenu .box_allmenu_info .box_util .util_content {
    display: flex;
    align-items: center;
}
.box_allmenu .box_allmenu_info .box_util .util_result {
    display: flex;
    margin-left: 10px;
    align-items: center;
}
.box_allmenu .box_allmenu_info .box_util .util_result li strong {
    display: flex;
    font-weight: 600;
}
.box_allmenu .box_allmenu_info .box_util .util_result li.btn_logout a {
    display: flex;
    padding: 5px 10px;
    background-color: #eee;
    font-size: 13px;
    border-radius: 3px;
}
.box_allmenu nav {
    width: 100%;
    margin: 0 auto;
}
.box_allmenu nav > ul {
    margin: 0 -20px;
}
.box_allmenu nav > ul > li > a::after {
    content: "";
    display: block;
    position: absolute;
    top: 29px;
    right: 20px;
    width: 10px;
    height: 6px;
    background: url(../images/ico/ico_arrow_select.png) no-repeat center;
    background-size: 100% 100%;
    transition: .2s;
}
.box_allmenu nav > ul > li.on > a::after {
    transform: rotate(180deg);
}
.box_allmenu nav > ul > li {
    position: relative;
    border-bottom: 1px solid #eee;
}
.box_allmenu nav > ul > li:first-child {
    border-top: 1px solid #eee;
}
.box_allmenu nav > ul > li > a {
    display: block;
    padding: 20px 20px;
    font-weight: 600;
}
.box_allmenu nav > ul > li > ul {
    display: none;
}
.box_allmenu nav > ul > li > ul > li > a {
    display: block;
    padding: 20px 40px;
    margin: 0;
    background-color: #eee;
    box-sizing: border-box;
    border-bottom: 1px solid #fff;
}
.box_allmenu nav > ul > li > ul > li:last-child > a {
    border-bottom: none;
}
.box_allmenu nav > ul > li > ul > li:hover > a {
    color: var(--main-color);
}
.box_allmenu .box_allmenu_cont {
    width: 90%;
    padding: 0 20px;
}
.box_allmenu .box_allmenu_info .box_util .util_result li.btn_logout a {
    font-size: var(--font-common);
}

/* header */
header .inner {
    display: flex;
    justify-content: center;
    height: 50px;
}
.box_prev a {
    display: flex;
    position: absolute;
    top: 50%;
    left: 20px;
    flex-direction: column;
    justify-content: center;
    width: 16px;
    height: 16px;
    transform: translateY(-50%);
}
.box_prev a span {
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: var(--font-color);
}
.box_prev a span:nth-child(1),
.box_prev a span:nth-child(3) {
    width: 55%;
}
.box_prev a span:nth-child(1) {
    transform: rotate(-45deg) translate(1px, -1px);
}
.box_prev a span:nth-child(3) {
    transform: rotate(45deg) translate(1px, 1px);
}
header .logo {
    display: flex;
    align-items: center;
}
.btn_allmenu a {
    display: flex;
    position: absolute;
    top: 50%;
    right: 20px;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    width: 16px;
    height: 16px;
    transform: translateY(-50%);
}
.btn_allmenu a strong {
    position: absolute;
    left: -9999px;
}
.btn_allmenu a span {
    display: block;
    width: 100%;
    height: 2px;
    border-radius: 2px;
    background-color: var(--font-color);
}
.btn_allmenu a span:nth-child(3) {
    width: 70%;
}